
<AuthorizeView>
    <Authorized>
        <a href="Account/Logout">Logout</a>
    </Authorized>
    <NotAuthorized>
        <a href="Account/Login?redirectUri=/">Login</a>
    </NotAuthorized>
</AuthorizeView>
